{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "modules": false,
        "loose": true
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "src": "./",
          "utils": "utils",
          "components": "components"
        }
      }
    ]
  ]
}
